<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ncovapi.dao.AbroadMapper">
    <insert id="insertAll">
        replace into abroad(provinceName, continents, currentConfirmedCount, confirmedCount, suspectedCount,
                            curedCount, deadCount,deadCountRank,deadRate, date)
        VALUES (#{provinceName}, #{continents}, #{currentConfirmedCount}, #{confirmedCount}, #{suspectedCount},
                #{curedCount}, #{deadCount},#{deadCountRank},#{deadRate},current_date())
    </insert>

    <select id="selectCountry" resultType="com.example.ncovapi.entity.Abroad">
        select *
        from abroad
        where provinceName like #{countryName};
    </select>
    <select id="selectLatest" resultType="com.example.ncovapi.entity.Abroad">
        select *
        from abroad
    </select>

</mapper>